* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.code {
    display: none;
}

.pixel {
	width: 30px;
	height: 30px;
    border: 1px solid #000;
    cursor: pointer;
}

.row {
	display: flex;
}

.grid-container {
	display: flex;
	flex-direction: column;
}

.var-input {
    width: 100px;
    height: 30px;
    margin: 10px;
}

.var-preview {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid #000;
}